# Python
__pycache__/
*.pyc
.venv/

# Node
node_modules/
dist/

# Local env and secrets
.env
frontend/.env
backend/.env
backend/service_account.json
backend/table_id
backend/data/

# Logs and OS files
*.log
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
